In [ ]:
import requests
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [55]:
# Define the API URL
api_url = "https://api.openaq.org/v2/measurements"

# Define the query parameters
params = {
    "location_id": "380422",
    "parameter": ["pressure", "temperature", "um003", "um025", "um010", "pm10", "um100", "pm1", "um005", "humidity", "um050", "pm25"],
    "limit": 1000,
    "api_key": "bca2413f10b586fc8e29e6a7712258baf2d528cfdfc06dcba5bf1cc44e714a9c"
}

# Make the GET request
response = requests.get(api_url, params=params)


# Check if the request was successful (status code 200)
if response.status_code == 200:
    data = response.json()
    output = data['results']
    df = pd.DataFrame(output)
    # Extract local time from date column (dictionary)
    df['local_time'] = df['date'].apply(lambda x: x['local'])
    df['local_time'] = pd.to_datetime(df['local_time'])


else:
    print("Error:", response.status_code)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   locationId   1000 non-null   int64
 1   location     1000 non-null   object
 2   parameter    1000 non-null   object
 3   value        1000 non-null   float64
 4   date         1000 non-null   object
 5   unit         1000 non-null   object
 6   coordinates  1000 non-null   object
 7   country      1000 non-null   object
 8   city         0 non-null      object
 9   isMobile     1000 non-null   bool
 10  isAnalysis   0 non-null      object
 11  entity       1000 non-null   object
 12  sensorType   1000 non-null   object
 13  local_time   1000 non-null   datetime64[ns, UTC-07:00]
dtypes: bool(1), datetime64[ns, UTC-07:00](1), float64(1), int64(1), object(10)
memory usage: 102.7+ KB

,locationId,location,parameter,value,date,unit,coordinates,country,city,isMobile,isAnalysis,entity,sensorType,local_time
0,380422,Tipperary Park,humidity,34.600000,"{'utc': '2023-10-08T00:00:00+00:00', 'local': ...",%,"{'latitude': 49.208733, 'longitude': -122.9118}",CA,None,False,None,Community Organization,low-cost sensor,2023-10-07 17:00:00-07:00
1,380422,Tipperary Park,um003,9.786333,"{'utc': '2023-10-08T00:00:00+00:00', 'local': ...",particles/cm³,"{'latitude': 49.208733, 'longitude': -122.9118}",CA,None,False,None,Community Organization,low-cost sensor,2023-10-07 17:00:00-07:00
2,380422,Tipperary Park,temperature,79.000000,"{'utc': '2023-10-08T00:00:00+00:00', 'local': ...",f,"{'latitude': 49.208733, 'longitude': -122.9118}",CA,None,False,None,Community Organization,low-cost sensor,2023-10-07 17:00:00-07:00
3,380422,Tipperary Park,um025,0.010333,"{'utc': '2023-10-08T00:00:00+00:00', 'local': ...",particles/cm³,"{'latitude': 49.208733, 'longitude': -122.9118}",CA,None,False,None,Community Organization,low-cost sensor,2023-10-07 17:00:00-07:00
4,380422,Tipperary Park,pm1,4.463333,"{'utc': '2023-10-08T00:00:00+00:00', 'local': ...",µg/m³,"{'latitude': 49.208733, 'longitude': -122.9118}",CA,None,False,None,Community Organization,low-cost sensor,2023-10-07 17:00:00-07:00

## Available Parameters

In [ ]:
# Get locations from API

endpoint = "https://api.openaq.org/v2/parameters"

params = {
    "limit": 1000,
    "api_key": "bca2413f10b586fc8e29e6a7712258baf2d528cfdfc06dcba5bf1cc44e714a9c"
}

# API request
response = requests.get(endpoint, params=params)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    data = response.json()
    output = data['results']
    parameters = pd.DataFrame(output)
else:
    print("Error:", response.status_code)


print(parameters.info())

parameters